<h1>Submit a Secret</h1>

<form action='/secret' method='post'>
  Secret: <input type='text' name='text' class='text-box'><br>
  Location: <input type='text' name='location' class='text-box'><br>
  <input type='submit' value='Submit'>
</form>
